.next-milestone {
	float: right;
}

/*
.roadmap .get-status {
  background: transparent url('/profiles/openscholar/themes/os_basetheme/images/throbber.gif') no-repeat 0 0 ;
}
*/

.milestone-wrapper {
	clear: both;
}

.milestone-permalink {
	float: right;
}

.milestone-wrapper .item-list {
	display: block;
  float: left;
  /*border: 1px #aaa solid;*/
  margin: 1px;
  padding: 1em;
  border-radius: 4px;
  height: 40em;
  overflow-y: scroll;
  width: 22em;
  box-shadow: 0px 0px 15px #888888;
  background-color: white;
}

ul.milestone {
	list-style-type:none;
}

ul.milestone > li {
	padding-bottom: 1px;
}
ul.milestone > li > a {
	display: block;
	padding: 1em 1px;
	/*border-top: 1px #ddd dashed;*/
	color: #333;
	border-radius: 3px;
	margin-bottom: 1px;
}

ul.milestone > li > a:hover {
	background-color: #eee;
}

/*
ul.milestone > li > a.closed:before {
	content:'[done] ';
}
*/

#roadmap-legend label,
ul.milestone > li > a {
	background: linear-gradient(to top, #f5f5f5, #fff, #fff, #fff);
	border: 1px #eee solid;
}

#roadmap-legend label {
  float: left;
  display: block;
  padding: .5em;
  margin: .5em;
  border-color: #ccc;
width: 8em;
}

#roadmap-legend label.pending,
ul.milestone > li > a.pending {
	border-left: 2px #ccc solid;
}

#roadmap-legend label.design,
ul.milestone > li > a.design {
  border-left: 2px #aaa solid;
}

#roadmap-legend label.development,
ul.milestone > li > a.development {
  border-left: 2px #f00 solid;
}

#roadmap-legend label.review,
ul.milestone > li > a.review {
  border-left: 2px #f50 solid;
}

#roadmap-legend label.testing,
ul.milestone > li > a.testing {
  border-left: 2px #ff0 solid;
}

#roadmap-legend label.done,
ul.milestone > li > a.done {
  border-left: 2px #00a solid;
}

.roadmap-legend {
	clear: both;
}