.next-milestone {
	float: right;
}

.roadmap .get-status {
  background: transparent url('/profiles/openscholar/themes/os_basetheme/images/throbber.gif') no-repeat 0 0 ;
}

.backlog .item-list {
	display: block;
  float: left;
  border: 1px silver solid;
  margin: 1px;
  padding: 1em;
  border-radius: 2px;

}

ul.backlog > li {
	width: 24em;
}

ul.backlog > li > a {
	display: block;
	padding: 2px;
}

ul.backlog > li > a:hover {
	background-color: #eee;
}