.next-milestone {
	float: right;
}

.roadmap .get-status {
  background: transparent url('/profiles/openscholar/themes/os_basetheme/images/throbber.gif') no-repeat 0 0 ;
}

.milestone-wrapper {
	clear: both;
}
.milestone-wrapper .item-list {
	display: block;
  float: left;
  /*border: 1px #aaa solid;*/
  margin: 1px;
  padding: 1em;
  border-radius: 4px;
  height: 40em;
  overflow-y: scroll;
  width: 22em;
  box-shadow: 0px 0px 15px #888888;
  background-color: white;
}

ul.milestone {
	list-style-type:none;
}


ul.milestone > li > a {
	display: block;
	padding: 1em .1em;
	border-top: 1px #ddd dashed;
	color: #333;
}

ul.milestone > li > a:hover {
	background-color: #eee;
}

ul.milestone > li > a.closed:before {
	content:'[done] ';
}

ul.milestone > li > a.closed {
	background: linear-gradient(to right, #dff, #fff, #fff, #fff); 
	/*text-decoration: line-through;*/
}

ul.milestone > li:nth-child(even) > a.closed {
  background: linear-gradient(to right, #ffd, #fff, #fff, #fff); 
}

ul.milestone > li:nth-child(5) > a.closed {
  background: linear-gradient(to right, #fdf, #fff, #fff, #fff); 
}