.roadmap {
	width: 100%;
	border-collapse: separate;
	padding-bottom: 2em;
}

.roadmap tr.issue-meta>td {
	border-top: 1px white solid;
}

td.issue-body {
	display: none;
}

.roadmap span.status {
	color: white;
	background-color: red;
  padding: 0 1em;
  border-radius: 3px;
}

.roadmap span.status:hover {
	opacity: 0.8;
}

.roadmap span.Planned {
	background-color:white;
  color: black;
  border: 1px #ccc solid;
}

.roadmap span.Dev {
  background-color: orange;
}

.roadmap span.QA {
  background-color: green;
}

.roadmap span.Coded {
  background-color: blue;
}

.roadmap span.Deployed {
  background-color:black;
}